:root {
  --transition: 1s;
}
html {
  background: #e0e5ec;
  color: white;
  font-family: system-ui;
  overflow: hidden;
}

#caro_con {
  width: 0;
  height: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  transition: var(--transition) ease-in;
  transform: rotate(0deg);
}

.caro_slide {
  width: min(100vw,100vh);
  height: 100vh;
  /*   aspect-ratio: 1 / 1; */
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: 0% 100%;
  display: grid;
  place-items: center;
  /*   border-radius: 0 100% 0 0; */
  /*   border: 2px solid red; */
  box-sizing: border-box;
}
.caro_slide:nth-child(1) {
  transform: rotate(0deg);
}
.caro_slide:nth-child(2) {
  transform: rotate(72deg);
}
.caro_slide:nth-child(3) {
  transform: rotate(144deg);
}
.caro_slide:nth-child(4) {
  transform: rotate(216deg);
}
.caro_slide:nth-child(5) {
  transform: rotate(288deg);
}

.caro_slide div {
  max-width: 60ch;
/*   columns: 2; */
/*   column-gap: 2rem; */
  font-size: 1rem;
  background: #111;
  color: #222;
  padding: 0 3rem 2rem 3rem;
  box-sizing: border-box;
  border-radius: .5rem;
  box-shadow: 0 10px 30px black;
}

.caro_slide:nth-child(1) div {
  background-color: #81ADEB;
}
.caro_slide:nth-child(5) div {
  background-color: #5689D0;
}
.caro_slide:nth-child(4) div {
  background-color: #306DC2;
}
.caro_slide:nth-child(3) div {
  background-color: #1E5CB3;
}
.caro_slide:nth-child(2) div {
  background-color: #0048AC;
}

.caro_slide p {
  font-weight: 900;
  margin-top: 0;
}

h1 {
  column-span: all;
}

#btn_box {
  position: absolute;
  bottom: 10px;
}
*
{
  font-family:calibri;
}
.round-pro {
    height: 311px;
    width: 310px;
    border-radius: 50%;
    text-align: center;
    padding: 40px;
    position: absolute;
    top: 20%;
    left: 60%;
    -moz-animation: spinoffPulse 10s infinite linear;     
    -webkit-animation: spinoffPulse 10s infinite linear;

}
@-webkit-keyframes spinoffPulse {
    0% { 

        /* border-color:#e14026;  */
    background-color: #81ADEB; 
        box-shadow: 0px 0px 30px #81ADEB;
    }
	20% {
         
         /* border-color: #ea8324;  */
    background-color:  #5689D0; 
        box-shadow: 0px 0px 30px  #5689D0;
    }
	40% {
         
         /* border-color: #9ecb3b;  */
    background-color:  #306DC2; 
        box-shadow: 0px 0px 30px  #306DC2;
    }
	60% {
         
         /* border-color: #1ca5a2;  */
    background-color:  #1E5CB3; 
        box-shadow: 0px 0px 30px  #1E5CB3;
    }
	80% {
         
         /* border-color: #202e41;  */
    background-color:  #0048AC; 
        box-shadow: 0px 0px 30px  #0048AC;
    }
	100% 
    { 
        /* border-color: #000;  */
    background-color:  #0048AC; 
        box-shadow: 0px 0px 30px  #0048AC;
    }
}
.round-pro .r-1 {
    border-radius: 50%;
    box-shadow: 0px 0px 30px #444343;
    height: 190px;
    background: #fff;
    width: 270px;
    line-height: 25px;
    font-size: 35px;
    padding-top: 125px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 900;
    color: #000;
  font-family:calibri;
    opacity:1;
    /* position: fixed; */
    /* -webkit-animation: spinoffPulse 500s infinite linear; */
}
.t-1{ color:#81ADEB; font-weight:900; font-size: 37px; margin-left:-4px; }
.t-2{ color:#5689D0; font-weight:900; font-size: 37px; margin-left:-4px; }
.t-3{ color:#306DC2; font-weight:900; font-size: 37px; margin-left:-4px; }
.t-4{ color:#1E5CB3; font-weight:900; font-size: 37px; margin-left:-4px; }
.t-5{ color:#0048AC; font-weight:900; font-size: 37px; margin-left:-4px; }

.list-round
{
    height:100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    top:-430px;
    left:400px;
    margin: 10px;
    box-shadow:inset 0px 0px 20px #002C69;
    color:#fff;
    line-height: 100px;
    font-size: 15px;
}
.list-round.t-1{ background-color:#81ADEB; }
.list-round.t-2{ background-color:#5689D0; }
.list-round.t-3{ background-color:#306DC2; }
.list-round.t-4{ background-color:#1E5CB3; }
.list-round.t-5{ background-color:#0048AC; }

.image-pro
{
    opacity: 0;
}
* {
  font-family: 'Raleway', Arial, sans-serif;
}

